* {
    box-sizing: border-box;
  }

body {
    text-align: center;
    display: flex;
    padding: 350px;
    justify-content: center;
    align-items: center;
  }

.high-score {
    display: flex;
    justify-content: left;
    align-items: flex-start;

}
.time-left {
    display: flex;
    justify-content: flex-end;
}
.clock {
    display: flex;
    justify-content: flex-end;
}
  
 /* .quiz-container { */
    /* width: 800px; */
    /* max-width: 80%; */
    /* border-radius: 5px; */
    /* padding: 10px; */
    /* box-shadow: 0 0 10px 2px; */
 /* } */

 .btn-container {
    display: list-item;
    gap: 10px;
    margin: 20px 0;
 }

 .btn {
     background-color: blueviolet;
     border: 1px solid;
     border-radius: 5px;
     padding: 5px 10px;
     outline: none;
 }

 .btn:hover {
     border-color: purple;
 }

 /* .btn.correct { */



 /* .btn.wrong { */


 .start-btn-container {
     font-size: 1.5rem;
     font-weight: bold;
     padding: 10px 20px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.hide {
    display: none;
}


