* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
  }

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container1 {
    width: 800px;
    max-width: 80%;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    text-align: center;

}

header {
    width: 150px;
    height: 150px;
    max-width: 80%;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    justify-content: space-evenly;
}

.high-score {
    width: 150px;
    height: 150px;
    max-width: 80%;
    border-radius: 5px;
    padding: 25px;
    margin: 50px;
    box-shadow: 0 0 10px 2px;
    display: flex;
    align-items: center;

}

.timeleft {
    width: 150px;
    height: 150px;
    max-width: 80%;
    border-radius: 5px;
    padding: 25px;
    margin: 50px;
    box-shadow: 0 0 10px 2px;
    display: flex;
    text-align: center;
    align-content: space-around;
}

header p .high-score {
    width: 250px;
    height: 250px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    display: flex;
}

.btn-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}


 .btn, .start-btn-container {
     background-color: blueviolet;
     border: 1px solid;
     border-radius: 5px;
     padding: 5px 10px;
     outline: none;
     color: white;
 }

 .btn:hover {
     background-color: purple;
 }

.hide {
    display: none;
}


